html,body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: 
    url('./assets/asfalt-light.png') repeat,
    linear-gradient(180deg, #1E1E1E 0%, #1E1E1E 70%, #5A1C16 100%);
}

svg {
    width: auto;
    height:80vh;
    max-width: 100%;
    max-height: 100vh;
    display: block;
    margin-right: 5vw;
    margin-left: auto;
}

path {
    fill: #ffb764;  /* yellow */
    stroke: white;/* brown */
    stroke-width: 1.5;
    transition: fill 0.3s ease, stroke 0.3s ease;
    cursor: pointer;
}

path:hover {
    fill: #a84333; 
    stroke: white 
}

.country-info {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: none;
}

.text-side, .map-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-side {
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
    padding: 3vw;
  }
  
  .map-side {
  }
  .container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  h1{
    color: rgb(245, 90, 0);
    font-size: 4rem;
    font-family:initial;
    text-align: center;
  }
  h2{
    text-align: center;
    font-size: 1rem;
    color: rgb(71, 71, 71);
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 12px;      
    padding: 0.5em 1em;      
  }